<h1>Game Results</h1>

<table>
  <tr>
    <th width="15%">Date</th>
    <th>Results</th>
    <th>Actions</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td> <%=game.created_at.strftime("%Y/%m/%d %H:%M")%></td>
    <td>
      <% if game.entrants.any?{|e| e.final_position} -%>
        <ol>
          <% (final_results = game.entrants.sort_by{|e| e.final_position })[0,3].each do |entrant| -%>
            <li><%=entrant.player.display_name %></li>
          <% end -%>
        </ol>
        <ol class="last">
          <li class="last"><%=final_results.last.player.display_name%></li>
        </ol>
      <% end %>
    </td>
    <td>
      <% if game.started %>
        <%= link_to 'Play', game %>
        <br/>
        <%= link_to 'Players', edit_game_path(game) %>
        <br/>
      <% end -%>
      <%= link_to 'Delete', game, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<p>
<%= will_paginate @games %>
</p>
<p>
<%= page_entries_info(@games).html_safe %>
</p>

<br />

<%= link_to 'New Game', new_game_path %>
