<p id="notice"><%= notice %></p>

<h1>Crud Game</h1>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<p>
Started: <%= @game.created_at.to_formatted_s(:long) %>
</p>

<p>
<%= button_to 'End Game Now', @game, :confirm => 'Are you sure?', :method => 'put', :name => 'submit' %>
</p>

<div class="crud_game" data-game="<%=@game.id%>">
  <table width="100%">
    <tr><th>Players</th><th>Strikes</th><th>Fix?</th></tr>
    <% @game.entrants.each do |entrant| -%>
      <tr data-player="<%=entrant.id%>" data-strikes="<%=entrant.strikes%>" data-alive="<%=entrant.alive%>"><td width="70%"><%=entrant.player.display_name%></td><td width="30%" class="strikes"><% entrant.strikes.times do %><%=image_tag 'strike.gif'%><% end %></td></tr>
    <% end -%>
  </table>
</div>

<p>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</p>

<%= javascript_include_tag 'crud' %>
