<h1>Crud Leader Board</h1>

<table class="table table-responsive table-striped table-condensed leader-board">
  <tr class="header">
    <th rowspan=2>Name</th>
    <th rowspan=2>Nickname</th>
    <th rowspan=2>Games</th>
    <th rowspan=2>Points</th>
    <th rowspan=2>Bonus</th>
    <th colspan=6>Stats</th>
    <th rowspan=2>Action</th>
  </tr>
  <tr class="header">
    <th><%= link_to 'PPG', :sort => 'ppg'%></th><th><%= link_to 'Bonus PPG', :sort => 'ppg_with_bonus'%></th><th>Win</th><th>Place</th><th>Show</th><th>Last</th>
  </tr>

<% @players.each do |player| %>
  <tr data-player-id="<%=player.id%>" class="<%= player.active ? '' : 'disabled'%>">
    <td><%= player.name %></td>
    <td><%= player.nickname %></td>
    <td class="numeric"><%= player.games_played %></td>
    <td class="numeric"><%= player.points || 0 %></td>
    <td class="numeric"><%= player.bonus_points || 0 %></td>
    <td class="numeric"><%= "%5.3f" % player.ppg if player.games_played >= Player::MIN_GAMES_TO_SCORE%></td>
    <td class="numeric"><%= "%6.3f" % player.ppg_with_bonus if player.games_played >= Player::MIN_GAMES_TO_SCORE%></td>
    <td class="numeric"><%= "%4.1f%" % player.win_percentage if player.games_played > 0%></td>
    <td class="numeric"><%= "%4.1f%" % player.place_percentage if player.games_played > 0%></td>
    <td class="numeric"><%= "%4.1f%" % player.show_percentage if player.games_played > 0%></td>
    <td class="numeric"><%= "%4.1f%" % player.last_percentage if player.games_played > 0%></td>
    <td>
      <div class="btn-group">
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Show', player %></li>
          <li><%= link_to 'Edit', edit_player_path(player) %></li>
          <li>
          <% if player.active -%>
            <%= link_to 'Deactivate', player_path(player, :"player[active]" => false), {:remote => true, :method => :put, :confirm => 'Are you sure?', :id => "activate_#{player.id}"} %>
          <% else -%>
            <%= link_to 'Activate', player_path(player, :"player[active]" => true), {:remote => true, :method => :put, :id => "activate_#{player.id}"} %>
          <% end -%>
          </li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
