<!DOCTYPE html>
<html>
<head>
  <title>CrudTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div>
      <ul>
        <li><%= link_to "Home", root_url %></li>
      </ul>
      </div>
      <div>
        <%= image_tag 'crud.png' %>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
